@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
* {
	font-family: 'Noto Serif TC', serif;
	font-family: 'Noto Sans TC', sans-serif;
}
.right {
	padding-top: 20px;
	border-radius: 30px;
	text-align: center;
	background-color: #ccc;
	.item {
		padding-top: 30px;
	}
	p {
		padding-top: 10px;
		font-size: 20px;
		margin-bottom: 0;
		span {
			font-size: 30px;
			color: darkolivegreen;
			font-weight: 600;
		}
	}
	.cash {
		margin-top: 50px;
		cursor: pointer;
		border-radius: 100px;
		padding: 10px 30px;
		background-color: #000;
		color: #fff;
	}
}

@import './product';
