.product {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	button {
		cursor: pointer;
		background-color: #fff;
		border: none;
	}
	.count {
		font-size: 20px;
		color: orange;
		font-weight: bolder;
	}
	.price {
		font-size: 20px;
		color: rosybrown;
		font-weight: bolder;
	}
}
